<div class="row">
	<div class="col-sm-8">
		<h1>{{name}}</h1>
	</div>
	<div class="col-sm-4">
		<h2><span class="wins">{{lastSoloRanked.wins}}</span> / <span class="losses">{{lastSoloRanked.losses}}</span> ({{winRate}}%)</h2>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		
		{{line-chart data=chartData labels=chartLabels}}
	</div>
</div>